.ReceivedMessage{
 display:flex;
  justify-content:flex-start;

}

.receivedMessageDiv{
 background: #ccc;
color:white;
padding:10px;
border-radius:10px;
font-weight:bold;
margin:5px;
max-width: width 180px;
display:inline-block;
}
.receivedMessageText{
    /* border:solid 2px blue;; */
    margin:0px;
    padding:0px;
}
.receivedMessageTime{
    font-size:12px;
    margin:0px;
    font-weight:bold;
    text-align:start;
    padding:0px;
    /* border:solid 2px black; */
    margin-top:5px;

}