.SentMessages{
 display:flex;
 justify-content:flex-end;



}
.sentMessageDiv{
display:flex;
flex-direction:column;
background: #f7296e;
color:white;
padding:10px;
border-radius:10px;
font-weight:bold;
margin:5px;
max-width: 180px;
display:inline-block;
}
.sentMessageText{
    /* border:solid 2px blue;; */
    margin:0px;
    padding:0px;
}
.sentMessageTime{
    font-size:12px;
    margin:0px;
    text-align:end;
    padding:0px;
    font-weight:bold;
    /* border:solid 2px black; */
    margin-top:5px;

}